.player {
  width: max-contentc;
  display: flex;
  align-items: center;
  background-color: rgb(185, 180, 180);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  span {
    font-size: 32px;
    margin-left: 16px;
  }
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.player-active {
  background-color: orange !important;
}
